In [1]:
# Importing required libraries
import pandas as pd
from pathlib import Path

# Setting variables to iterate through files names in for loop
years = ["2018", "2019", "2020", "2021", "2022"]
years_2018_2020 = ["2018", "2019", "2020"]
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
concat_df = pd.DataFrame()

## Combining like files Jan 2018 - Jan 2021

In [2]:
# File format was the same from 2018-01-01 through 2021-01-31 so this cell will combine those files into single dataframe

# Iterate through the full years that are the same at the beginning, concatonating along the way
for year in years_2018_2020:
    for month in months:
        df = pd.read_csv("raw-data/JC-" + year + month + "-citibike-tripdata.csv")
        print(f"{year}{month} length: {len(df)}")
        concat_df = pd.concat([concat_df, df])
    print(f"{year} concat df length: {len(concat_df)}")

# Add the first month in 2021 since it is the same
df_202101 = pd.read_csv("raw-data/JC-202101-citibike-tripdata.csv")
print(f"df202101 length: {len(df_202101)}")
concat_df_201801_202101 = pd.concat([concat_df, df_202101])
print(f"concat df length: {len(concat_df_201801_202101)}")

# concat_df_201801_202101.to_csv("clean-data/201801-202101-citibike-tripdata.csv")

concat_df_201801_202101.head()

201801 length: 12677
201802 length: 15104
201803 length: 17109
201804 length: 23634
201805 length: 34456
201806 length: 40937
201807 length: 42268
201808 length: 44432
201809 length: 39022
201810 length: 39138
201811 length: 24910
201812 length: 20205
2018 concat df length: 353892
201901 length: 19676
201902 length: 18565
201903 length: 23606
201904 length: 33056
201905 length: 36135
201906 length: 39430
201907 length: 43746
201908 length: 48711
201909 length: 49244
201910 length: 42253
201911 length: 30797
201912 length: 19728
2019 concat df length: 758839
202001 length: 26020
202002 length: 22962
202003 length: 17719
202004 length: 9268
202005 length: 25077
202006 length: 36921
202007 length: 38680
202008 length: 43267
202009 length: 53833
202010 length: 30086
202011 length: 21275
202012 length: 11694
2020 concat df length: 1095641
df202101 length: 11624
concat df length: 1107265

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

## Combining like files Jan 2018 - Jan 2021

Manually had to update 1 file name (JC-202207-citbike-tripdata.csv) for consistent naming to JC-20YYMM-citibike-tripdata.csv

In [3]:
# File format was the same from 2021-02-01 through 2022-12-31 so this cell will combine those files into single dataframe

months_no1 = ["02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
concat_df2 = pd.DataFrame()

# Iterate through the remaining months of 2021, concatonating along the way
for month in months_no1:
    df = pd.read_csv("raw-data/JC-2021" + month + "-citibike-tripdata.csv")
    print(f"2021{month} length: {len(df)}")
    concat_df2 = pd.concat([concat_df2, df])
print(f"2021 concat df length: {len(concat_df2)}")

# Iterate through the all months of 2022, concatonating along the way
for month in months:
    df = pd.read_csv("raw-data/JC-2022" + month + "-citibike-tripdata.csv")
    print(f"2022{month} length: {len(df)}")
    concat_df2 = pd.concat([concat_df2, df])
print(f"2022 concat df length: {len(concat_df2)}")

concat_df_202102_202212 = concat_df2

# concat_df_202102_202212.to_csv("clean-data/202102-202212-citibike-tripdata.csv")

concat_df_202102_202212.head()

202102 length: 4881
202103 length: 17123
202104 length: 23774
202105 length: 45043
202106 length: 71442
202107 length: 82578
202108 length: 93821
202109 length: 97313
202110 length: 88762
202111 length: 60061
202112 length: 48021
2021 concat df length: 632819
202201 length: 26762
202202 length: 31911
202203 length: 51671
202204 length: 62528
202205 length: 80482
202206 length: 103299
202207 length: 108502
202208 length: 115231
202209 length: 104247
202210 length: 89558
202211 length: 72709
202212 length: 48585
2022 concat df length: 1528304

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

## Updating headers so that the two formats can be merged into one dataframe

In [4]:
# Update older headers to the new name with exception of usertype column
concat_df_201801_202101.rename(columns={"starttime":"started_at", "stoptime":"ended_at", 
                                        "start station id":"start_station_id", "start station name":"start_station_name", 
                                        "start station latitude":"start_lat", "start station longitude":"start_lng", 
                                        "end station id":"end_station_id","end station name":"end_station_name", 
                                        "end station latitude":"end_lat", "end station longitude":"end_lng"}, inplace=True)
concat_df_201801_202101.head()

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [5]:
# Update new header member_casual to align with the older name, usertype
concat_df_202102_202212.rename(columns={"member_casual":"usertype"}, inplace=True)
concat_df_202102_202212.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

## Merge the two dataramges leaving the different columns with null values

In [6]:
# Now that header names are aligned, combine all into one df
concat_df_2018_2022 = pd.concat([concat_df_201801_202101, concat_df_202102_202212])
concat_df_2018_2022

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,ride_id,rideable_type
0,932.0,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929.0,Subscriber,1992.0,1.0,NaN,NaN
1,550.0,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845.0,Subscriber,1969.0,2.0,NaN,NaN
2,510.0,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708.0,Subscriber,1946.0,1.0,NaN,NaN
3,354.0,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697.0,Subscriber,1994.0,1.0,NaN,NaN
4,250.0,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861.0,Subscriber,1991.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,NaN,2022-12-06 15:43:38,2022-12-06 15:53:57,JC065,Dey St,40.737828,-74.067083,JC057,Riverview Park,40.744319,-74.043991,NaN,member,NaN,NaN,D438F1622839AC50,classic_bike
48581,NaN,2022-12-08 08:17:51,2022-12-08 08:23:33,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,casual,NaN,NaN,747A63A8E782D171,electric_bike
48582,NaN,2022-12-23 14:10:07,2022-12-23 14:14:18,HB404,Mama Johnson Field - 4 St & Jackson St,40.743140,-74.040041,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,AE090858CFDE6E82,electric_bike
48583,NaN,2022-12-02 04:43:25,2022-12-02 04:46:55,HB404,Mama Johnson Field - 4 St & Jackson St,40.743135,-74.040080,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,B3CC8E70AF4E259C,classic_bike
48584,NaN,2022-12-30 14:50:17,2022-12-30 14:55:37,HB202,14 St Ferry - 14 St & Shipyard Ln,40.752747,-74.024035,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,176B601F21327350,classic_bike

# Merge lat / long differences to average lat / long by station
This avoids having many ride counts of 1 at the same station name due to very minor differences in lat / long numbers

## Update start station lat / long values to the average based on station id

In [7]:
# grab the list of latitude and longitude values
station_start_lats = concat_df_2018_2022.groupby(["start_station_id"])["start_lat"].mean()
station_start_lngs = concat_df_2018_2022.groupby(["start_station_id"])["start_lng"].mean()

# iterate through the list of stations modifying both lat and long
for station_id in station_start_lats.index:
    concat_df_2018_2022.loc[concat_df_2018_2022.start_station_id == station_id, "start_lat"] = station_start_lats[station_id]
    concat_df_2018_2022.loc[concat_df_2018_2022.start_station_id == station_id, "start_lng"] = station_start_lngs[station_id]

concat_df_2018_2022

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,ride_id,rideable_type
0,932.0,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929.0,Subscriber,1992.0,1.0,NaN,NaN
1,550.0,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845.0,Subscriber,1969.0,2.0,NaN,NaN
2,510.0,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708.0,Subscriber,1946.0,1.0,NaN,NaN
3,354.0,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697.0,Subscriber,1994.0,1.0,NaN,NaN
4,250.0,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861.0,Subscriber,1991.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,NaN,2022-12-06 15:43:38,2022-12-06 15:53:57,JC065,Dey St,40.737710,-74.066925,JC057,Riverview Park,40.744319,-74.043991,NaN,member,NaN,NaN,D438F1622839AC50,classic_bike
48581,NaN,2022-12-08 08:17:51,2022-12-08 08:23:33,HB305,9 St HBLR - Jackson St & 8 St,40.747918,-74.038412,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,casual,NaN,NaN,747A63A8E782D171,electric_bike
48582,NaN,2022-12-23 14:10:07,2022-12-23 14:14:18,HB404,Mama Johnson Field - 4 St & Jackson St,40.743142,-74.040045,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,AE090858CFDE6E82,electric_bike
48583,NaN,2022-12-02 04:43:25,2022-12-02 04:46:55,HB404,Mama Johnson Field - 4 St & Jackson St,40.743142,-74.040045,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,B3CC8E70AF4E259C,classic_bike
48584,NaN,2022-12-30 14:50:17,2022-12-30 14:55:37,HB202,14 St Ferry - 14 St & Shipyard Ln,40.752945,-74.024338,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,NaN,member,NaN,NaN,176B601F21327350,classic_bike

## Update end station lat / long values to the average based on station id

In [8]:
# grab the list of latitude and longitude values
station_end_lats = concat_df_2018_2022.groupby(["start_station_id"])["end_lat"].mean()
station_end_lngs = concat_df_2018_2022.groupby(["start_station_id"])["end_lng"].mean()

# iterate through the list of stations modifying both lat and long
for station_id in station_end_lats.index:
    concat_df_2018_2022.loc[concat_df_2018_2022.end_station_id == station_id, "end_lat"] = station_end_lats[station_id]
    concat_df_2018_2022.loc[concat_df_2018_2022.end_station_id == station_id, "end_lng"] = station_end_lngs[station_id]

concat_df_2018_2022

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,ride_id,rideable_type
0,932.0,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.723043,-74.038941,31929.0,Subscriber,1992.0,1.0,NaN,NaN
1,550.0,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.723043,-74.038941,31845.0,Subscriber,1969.0,2.0,NaN,NaN
2,510.0,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.723043,-74.038941,31708.0,Subscriber,1946.0,1.0,NaN,NaN
3,354.0,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.717898,-74.038007,31697.0,Subscriber,1994.0,1.0,NaN,NaN
4,250.0,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.721807,-74.040026,31861.0,Subscriber,1991.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,NaN,2022-12-06 15:43:38,2022-12-06 15:53:57,JC065,Dey St,40.737710,-74.066925,JC057,Riverview Park,40.736501,-74.039509,NaN,member,NaN,NaN,D438F1622839AC50,classic_bike
48581,NaN,2022-12-08 08:17:51,2022-12-08 08:23:33,HB305,9 St HBLR - Jackson St & 8 St,40.747918,-74.038412,HB105,City Hall - Washington St & 1 St,40.740637,-74.035977,NaN,casual,NaN,NaN,747A63A8E782D171,electric_bike
48582,NaN,2022-12-23 14:10:07,2022-12-23 14:14:18,HB404,Mama Johnson Field - 4 St & Jackson St,40.743142,-74.040045,HB105,City Hall - Washington St & 1 St,40.740637,-74.035977,NaN,member,NaN,NaN,AE090858CFDE6E82,electric_bike
48583,NaN,2022-12-02 04:43:25,2022-12-02 04:46:55,HB404,Mama Johnson Field - 4 St & Jackson St,40.743142,-74.040045,HB105,City Hall - Washington St & 1 St,40.740637,-74.035977,NaN,member,NaN,NaN,B3CC8E70AF4E259C,classic_bike
48584,NaN,2022-12-30 14:50:17,2022-12-30 14:55:37,HB202,14 St Ferry - 14 St & Shipyard Ln,40.752945,-74.024338,HB105,City Hall - Washington St & 1 St,40.740637,-74.035977,NaN,member,NaN,NaN,176B601F21327350,classic_bike

## Export the dataframe

In [9]:
concat_df_2018_2022.to_csv("clean-data/2018-2022-citibike-tripdata-JC.csv")